<h1 align="center">All Alpha Bloggers</h1>
<div align="center">
  <div class="row">
    <% @users.each do |user| %>
        <div class="col-md-4 listing">
          <div class="well">
          <ul>
          
            <li>
              <%= link_to gravatar_for(user), user_path(user) %>
            </li>
            <li class="article-title">
              <%= link_to user.username, user_path(user) %>
            </li>
            <li>
              <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
            </li>
          
          </ul>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>