<div class="container">
  <footer class="footer">
    <small>&copy;2015 <a href="http://www.1023designstudio.com" target="_blank">Ten:Twenty-Three Design Studio</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>